<div class="container">
  <h1>SIGN UP TO ACTIV8</h1>
  <p>SIGN UP TO ACTIV8</p>
  <p>THIRD HEADER BOOM</p>
  <hr>
  <div class="signup column">
    <%= render 'form' %>
  </div>
  <hr>
  <%= link_to 'Back', users_path %>
</div>
