// SASS Variables for application

// General App
$footer-bg-color: #e04736;
$footer-height: 84px;
$footer-social-icon-width: 36px;
$footer-social-margin: 0 0 10px 0;
$content-margin: 0 2.5%;

// Navigation
$primary-bg-color: #333;
$secondary-bg-color: #111;
$sub-margin: 0.5rem;
$menu-height: 53px;

// System Notifications
$notice-color: $footer-bg-color; //lightblue;
$alert-color: $footer-bg-color; //fire;

// Map
$map-border-radius: 0.25em;
$map-bg-color: #e04736;

// Activities
$border: 0px black solid;
$border-top: 1px black solid;

// User Attributes
$profile-picture-height: 100px;
$profile-picture-width: 100px;
$profile-picture-border-radius: 0.5rem;