// SASS Variables for application

// General App
$border-radius: 0.1rem;
$footer-bg-color: #e04736;
$footer-height: 115px;

// Navigation
$primary-bg-colour: #333;
$secondary-bg-colour: #111;
$sub-margin: 0.5rem;
$menu-height: 53px;

// System Notifications
$notice-color: $footer-bg-color; //lightblue;
$alert-color: $footer-bg-color; //fire;

// Map

// Activities
$border: 0px black solid;
$border-top: 1px black solid;

