
$border: 0px black solid;
$border-top: 1px black solid;


#activities {
  background-color: darkgrey;
}

.activity {
  display: inline-block;
  border-top: $border-top;
  box-sizing: content-box;
  margin: 0.25rem 0;

  * {
    line-height: 1rem;
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .activity-owner {
    width: 5rem;
    border: $border;
    margin: auto 0;

    a {
      display: block;
      margin: auto;
    }

    img {
      margin: auto;
    }
  }

  .activity-info {
    width: 70%;
    border: $border;

    p {
      display: block;
    }
  }
}

.activity-options {
  width: 10%;
  border: $border;
  display: inline-block;
  position: relative;
  margin: 0;

  a {
    font-size: 60%;
  }

  p {
    width: 20%;
    height: auto;
    border: $border;
  }

  .actions {
    width: auto;
    height: auto;
  }

  form {
    border: none;
    width: 110%;
  }

  form > input {
    display: block;
    border: none;
    padding: 0 0.25rem;

  }
}
