// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.activity_comments_header {
  color: #333;
}
.comments {
  display: table;
  color: #333;
  display: block;
  margin: 50px;
  opacity: 0.9;
  background: white;
  padding-bottom: 2%;
  padding-top: 2%;
  width: 100%;
  margin: auto;
  border: 5px solid;
  border-radius: 10px;



  h1 {
    margin: $content-margin;
  }
}

.comment {
  display: table-row;
  padding-bottom: 15px;

  p {
    color: black;
    margin: 0;
    line-height: 1.25em;
    padding-left: 15px;
  }

  .comment-user {
    display: table-cell;
    width: 20%;
    padding-left: 15px;

    img {
      height: $comment-picture-height;
      width: $comment-picture-width;
      border-radius: $comment-picture-border-radius;
    }
  }

  .comment-content {
    display: table-cell;
    width: 75%;
    margin: 0;
    padding: 0 15px;

    p {
      word-wrap: break-word;
    }
  }
}