// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {
  display: table;

  h1 {
    margin: $content-margin;
  }

  // section:nth-child(1) {
  //   background-color: black;
  // }
}

.comment {
  display: table-row;
  padding-bottom: 15px;

  p {
    color: white;
    margin: 0;
    line-height: 1.25em;
  }

  .comment-user {
    display: table-cell;
    width: 25%;
    padding: $content-margin;

    img {
      height: $comment-picture-height;
      width: $comment-picture-width;
      border-radius: $comment-picture-border-radius;
    }
  }

  .comment-content {
    display: table-cell;
    margin: 0;
  }

}