// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {
  display: table;

  h1 {
    margin: $content-margin;
  }
}

.comment {
  display: table-row;
  padding-bottom: 15px;

  p {
    color: white;
    margin: 0;
    line-height: 1.25em;
  }

  .comment-user {
    display: table-cell;
    width: 20%;
    padding-left: 15px;

    img {
      height: $comment-picture-height;
      width: $comment-picture-width;
      border-radius: $comment-picture-border-radius;
    }
  }

  .comment-content {
    display: table-cell;
    width: 75%;
    margin: 0;
    padding: 0 15px;

    p {
      word-wrap: break-word;
    }
  }
}