
@import 'variables';

html {
  margin: 0;
  padding: 0;
}

body {

  @include font-face('open-sans-light', '/fonts/opensans_light_macroman/OpenSans-Light-webfond.ttf');
  font-family: 'helvetica', 'open-sans-light';
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  // Change background image below **
  background-image: url("DarkDiagonalGrain.jpg");
  background-repeat: none;
  background-width: 100%;
}

#wrapper {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 0;
}

.parent-container {
  @include outer-container;
}

.container {
  @include span-columns(4);

  @include media($tablet) {
    @include span-columns(2);
  }

  @include media($mobile) {
    @include span-columns(1);
  }

  width: 100%;
}

.footer-2 {
  background-color: #e04736; //primary-bg-colour;
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer-logo {
  text-align: center;
  width: 100%;
  padding-top: 15px;

  img {
    width: 10%;
    // float: right;
  }

  .activate-footer-logo {
    position: absolute;
    top: -50%;
  }
}

.footer-social {
  li {
    display: inline;
    margin: 0 2.5%;
  }

  img {
    width: 5%;
  }

  a {
    text-decoration: none;
  }
}

.footer-secondary-links {
  overflow: none;
  ul {
    background-color: black;
    margin: 0;

    li {
      display: inline;
    }

    a {
      margin: 0 auto;
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
  }
}
