
@import 'variables';

h1, h2, h3 {
  color: white;
}

a {
  text-decoration: none;
  color: $footer-bg-color;
}

p {
  color: white;
}

.pop-out{
  height: 100%;
  width:200px;
  background-color: white;
  position: fixed;
  top: 50px;
  left: -200px;
  transition: all .5s ease;
  opacity: 0;
  z-index: 1000;
  list-style: none;

  li {
    margin: 10%;
    // text-align: center;
    font-size: 150%;
    list-style: none;
  }

  .nav-profile-picture {
    img {
      width: 96%;
    }
  }
}

.profilepic-menu {
    width: 96%;
  }

.show {
  left: 0px;
  opacity: 1;
}

body {
  @include font-face('open-sans-light', '/fonts/opensans_light_macroman/OpenSans-Light-webfond.ttf');
  font-family: 'helvetica', 'open-sans-light';
  box-sizing: content-box;
  // Change background image below **
  background-image: url("background_world.png");
  background-attachment: fixed;
  background-repeat: none;
  background-width: 100%;
}

input.btn {
  -moz-box-shadow:inset 0px -3px 7px 0px #000000;
  -webkit-box-shadow:inset 0px -3px 7px 0px #000000;
  box-shadow:inset 0px -3px 7px 0px #000000;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #37434a), color-stop(1, #000000));
  background:-moz-linear-gradient(top, #37434a 5%, #000000 100%);
  background:-webkit-linear-gradient(top, #37434a 5%, #000000 100%);
  background:-o-linear-gradient(top, #37434a 5%, #000000 100%);
  background:-ms-linear-gradient(top, #37434a 5%, #000000 100%);
  background:linear-gradient(to bottom, #37434a 5%, #000000 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#37434a', endColorstr='#000000',GradientType=0);
  background-color:#37434a;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:2px solid #e04736;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  padding:9px 23px;
  text-decoration:none;
  text-shadow:0px 1px 0px #263666;
}

input.btn:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #37434a));
  background:-moz-linear-gradient(top, #000000 5%, #37434a 100%);
  background:-webkit-linear-gradient(top, #000000 5%, #37434a 100%);
  background:-o-linear-gradient(top, #000000 5%, #37434a 100%);
  background:-ms-linear-gradient(top, #000000 5%, #37434a 100%);
  background:linear-gradient(to bottom, #000000 5%, #37434a 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#37434a',GradientType=0);
  background-color:#000000;
}
input.btn:active {
  position:relative;
  top:1px;
}

#wrapper {
  position: relative;
  min-height: 100%;
}

ul {
  padding-left: 0;
}

.parent-container {
  @include outer-container;
  padding-bottom: $footer-height;
}

.container {
  @include span-columns(4);

  @include media($tablet) {
    @include span-columns(2);
  }

  @include media($mobile) {
    @include span-columns(1);
  }

  width: 100%;
}

.footer-2 {
  background-color: $footer-bg-color;
  position: absolute;
  height: $footer-height;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer-logo {
  text-align: center;
  width: 100%;
  padding-top: 15px;

  img {
    width: 75px;
    // float: right;
  }

  .activate-footer-logo {
    position: absolute;
    top: -50%;
  }
}

.footer-social {
  margin: $footer-social-margin;
  margin-top: 23px;

  ul {
  vertical-align: text-top;
  }

  li {
    display: inline;
    margin: 0 15px 15px 15px;
  }

  img {
    width: $footer-social-icon-width;
  }

  a {
    text-decoration: none;
  }
}

.footer-secondary-links {
  overflow: none;
  ul {
    background-color: black;
    margin: 0;

    li {
      display: inline;
    }

    a {
      margin: 0 auto;
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
  }
}
