
@import 'variables';

// Start Navbar Styling
#nav {
  position: fixed;
  width: 100%;
  z-index: 100;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: $primary-bg-colour;
      width: auto;

    }

    li {
        float: right;
        padding-right: 20px;
    }

    li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    a:hover:not(.active) {
        background-color: $secondary-bg-colour;
    }

    .active {
    background-color: $primary-bg-colour;
    }
}
