
@import 'variables';

// Start Navbar Styling
#nav {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: $primary-bg-colour;
  border-bottom: 5px solid black;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $primary-bg-colour;
    width: auto;
    float: right;
  }

  li {
    list-style-type: none;
    float: right;
    z-index: 20;

      a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
  }

  #nav-logo {
    position: relative;
    float: left;
  }

  .nav-logo {
    padding: 7px 8px;
  }

  .activatelogo {
    height: 30px;
    z-index: 20;
  }

  #hamburger-button {
    img {
      position: relative;
      margin: 7px 15px;
      height: 30px;
      width: 30px;
      float: left;
      z-index: 10;
    }
  }

  a:hover:not(.active) {
    background-color: $footer-bg-color;
  }

  .active {
    background-color: $primary-bg-colour;
  }
}
