
@import 'variables';

// Start Navbar Styling
#nav {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: $primary-bg-colour;
  border-bottom: 5px solid black;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $primary-bg-colour;
    width: auto;
    float: right;
  }

  li {
      float: right;
      padding-right: 20px;
      z-index: 20;
  }

  li a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  #logo {
    img {
      position: relative;
      height: 30px;
      margin: 15px;
      z-index: 20;
    }
  }

  #hamburger-button {
    img {
      position: relative;
      margin: 15px;
      height: 30px;
      width: 30px;
      float: left;
      z-index: 10;
    }
  }

  a:hover:not(.active) {
    background-color: $secondary-bg-colour;
  }

  .active {
    background-color: $primary-bg-colour;
  }
}

.footer-2 {
  background-color: $primary-bg-colour;
}

.footer-logo {
  text-align: center;
  width: 100%;

  img {
    width: 10%;
    // float: right;
  }

  .activate-footer-logo {
    position: absolute;
    top: -50%;
  }
}

.footer-social {
  li {
    display: inline;
    margin: 0 2.5%;
  }

  img {
    width: 5%;
  }

  a {
    text-decoration: none;
  }
}

.footer-secondary-links {
  overflow: none;
  ul {
    background-color: black;
    margin: 0;

    li {
      display: inline;
    }

    a {
      margin: 0 auto;
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
  }
}


