
@import 'variables';

.alerts {
  margin-top: $menu-height;
  height: auto;

  p {
    margin: 0;
    padding: 0;
  }

  #notice {
    background-color: $notice-color;
    color: white;
    text-align: center;
  }

  #alert {
    background-color: $alert-color;
    color: white;
    text-align: center;
  }
}