// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @mixin centerer {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }
// #signup-form {
//   position: relative;
//   background: #f06d06;
//   width: 100%;
//   height: 200px;
//   margin: 2rem auto;
// }

// @include linear-gradient(#1e5799, #2989d8);

#signup-form {
  // @include span-columns(4 of 4);
  input, label {
    display: block;
  }
  // width: 85%;
  // margin: 0 auto;
  display: block;
  input {
    margin: auto;
  }

  .field {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 15px;
  }
}

.signup_page {
  text-align: center;
  color: white;
  padding-top: 3.5%;
  margin-top:0;
}

.signupform {
  text-align: center;
  color: white;
  display: block;
  margin: 50px;
  opacity: 0.9
}

.edit_user_title {
  text-align: center;
  color: white;
  padding-top: 3.5%;
}

.loginform {
  text-align: center;
  color: white;
  display: block;
  margin: 50px;
  opacity: 0.9
}

.logintitle {
  text-align: center;
  color: white;
  padding-top: 3.5%;
}

