// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.signup_page {
  text-align: center;
  color: white;
  padding-top: 3.5%;
  margin-top:0;
}

.signup-form {
  text-align: center;
  color: white;
  display: block;
  opacity: 0.9;
  margin-top: $menu-height;

   .field {
    padding-bottom: 15px;
  }

  .actions > .btn {
    margin-bottom: 15px;
  }
}

.edit_user_title {
  text-align: center;
  color: white;
}

.loginform {
  .field{
      padding-bottom: 15px;
  }
  text-align: center;
  color: white;
  display: block;
  margin: 50px;
  opacity: 0.9;
  background: #333;
  padding-bottom: 2%;
  padding-top: 2%;
  width: 40%;
  margin: auto;
  border: 5px solid;
  border-radius: 10px;
}

.logintitle {
  text-align: center;
  color: white;
  // padding-top: 3.5%;
}

.user {

  h1 {
    margin: $content-margin;
  }

  .user-attributes {

    margin: $content-margin;

    img {
      height: $profile-picture-height;
      width: $profile-picture-width;
      border-radius: $profile-picture-border-radius;
    }
  }

}
