<div class="infobox">
  <a href="<%=activity_path(activity)%>"><%= activity.title %><a> <br>
  <p>Descpription: <%= activity.description %></p> <br>
  <p>Address: <%= activity.location %></p>
</div>
<hr>
<div class="infobox-actions">
  <button>Comment</button>
  <button>Activate</button>
</div>