<h1>Activ8tions</h1>

<!-- Google Maps -->
<div id="map"></div>

<h2>List of Activities</h2>


<div class="activities">
  <ul>
    <%= render @activities %>
  </ul>
</div>



<%= link_to 'New Activity', new_activity_path %>