
<section class="hero container">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>A simple way of connecting people through action</h1>
    </div>
  </div>
</section>


<section class="container">
  <div class="cards-home">
    <div class="card">
      <div class="card-image">
        <img src="http://i64.tinypic.com/mtmdxx.jpg" alt="">
      </div>
      <div class="card-header">
        Connect
      </div>
      <div class="card-copy">
        <p><b>Activate</b> is simple tool for people to connect.  Create an account, make a new Activity and interact with other Activate users.  Let the world know what you are doing, wherever you are, whenever you want.  See what others are doing and get out there to meet them.</p>
      </div>
    </div>
  </div>

  <div class="cards-home">
    <div class="card">
      <div class="card-image">
        <img src="http://i67.tinypic.com/xnrssz.jpg" alt="">
      </div>
      <div class="card-header">
        Express
      </div>
      <div class="card-copy">
        <p>With <b>Activate</b>, you can express yourself to others through your interests.  Get involved with others who are interested in doing the same kind of things that you enjoy. Do something you love and have others join you.  Go meet someone new who likes your favourite hobby.</p>
      </div>
    </div>
  </div>

  <div class="cards-home">
    <div class="card">
      <div class="card-image">
        <img src="http://i65.tinypic.com/152kw0h.jpg" alt="">
      </div>
      <div class="card-header">
        Grow
      </div>
      <div class="card-copy">
        <p>Meet new people, learn new things, grow your self and your personal network. With <b>Activate</b> you can view an activity so that you can dig a little deeper before committing. Check out the creator’s profile to connect with others to make sure that it’s your kind of jam and embrace spontaneity.</p>
      </div>
    </div>
  </div>
</section>

<section class="container team">
  <h1>Meet the Activate Team</h1>
  <div class="team-member">
    <ul class="team-member-attributes">
      <li><%= link_to image_tag("rob.png"), "http://robholody.io" %><p class="name">Rob Holody</p></li>
      <li><a href="https://twitter.com/RobYYZ" class="social">Twitter Icon</a></li>
    </ul>

    <ul class="team-member-attributes">
      <li><%= link_to image_tag("ryan.png"), "http://ryanmagowan.com" %><p class="name">Ryan Magowan</p></li>
      <li><a href="https://twitter.com/RyanMmHmm" class="social">Twitter Icon</a></li>
    </ul>

    <ul class="team-member-attributes">
      <li><%= link_to image_tag("scott.png"), "http://scottwalsh.ca" %><p class="name">Scott Walsh</p></li>
      <li><a href="https://twitter.com/Walsh_Scott" class="social">Twitter Icon</a></li>
    </ul>
  </div>
</section>
