<h1>Activity Details</h1>

<ul id="activity-details">
  <%= render @activity %>
</ul>

<h4>Nearby Activities</h4>
<ol>
  <li>
    <%= render partial: 'location', collection: @nearby_activities, locals: {latitude: @activity.latitude, longitude: @activity.longitude} %>
  </li>
</ol>

<hr>
<h1>Activity Comments</h1>

<% if @comments.any? %>
  <div class="comments container">
    <%= render partial: 'comments/comment', locals: { from_activity: true }, collection: @comments %>
  </div>
<% else %>
  <div class="no-comments">
    <p><strong>There are no comments to display.</strong> </p>
  </div>
<% end %>
