
<div class="container">
  <h1>Activity Details</h1>
</div>

<!-- Google Maps -->
<div id="map-container" class="container">
  <div id="map"></div>
</div>

<ul id="activity-details" class="container">
  <%= render @activity %>
</ul>
<hr>
<!-- <h4>Nearby Activities</h4>
<ol>
  <%# render partial: 'location', collection: @nearby_activities, locals: {latitude: @activity.latitude, longitude: @activity.longitude} %>
</ol>
 -->

<% if @comments.any? %>
  <h1>Activity Comments</h1>
  <div class="comments container">
    <%= render partial: 'comments/comment', locals: { from_activity: true }, collection: @comments %>
  </div>
<% else %>
  <div class="no-comments">
    <p><strong>There are no comments to display.</strong> </p>
  </div>
<% end %>

<script>
  function draw_markers(handler) {
    var markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  }
</script>
